.header-container {
  background-color: red;
  padding: 20px;
  text-align: center;
}

.header-container a {
  color: white;
  margin: 0;
}

.navbar-container {
  position: relative;
}
.navbar-container >div {
  position: absolute;
  right: 0;
}