.header-container {
  background-color: red;
  padding: 20px;
  text-align: center;
}

.header-container a {
  color: white;
  margin: 0;
}

.navbar-container {
  position: relative;
}
.navbar-container >div {
  position: absolute;
  right: 0;
}
.services-container {
  background-color: red;
  padding: 20px;
  text-align: center;
}
.services-title {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.service-card {
  width: 80%;
  display:flex;
  justify-content: center;
}
.card-title {
  color: red;
  font-weight: bold;
}
.usefull-link > li {
  list-style: none;
  margin-bottom: 10px;
}
.usefull-link > li >a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
.about-image {
  width: 500px;
  height: 500px;
}